<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes/css/style.css' %}">
    <title>Login Registration</title>
</head>
<body id="index_body">
    <div id="register">
        <h2>Registration</h2> 
        <form  action="/register" method="POST" id='register_form'>
        {% csrf_token %}
            <input type="hidden" name="type" value="register">
            <div class="form-group">
                <label for="name">Name:</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="{{user.name}}">
                {% if messages %}
                <p>
                    {% for message in messages %}
                    {% if 'name' in message.tags %}
                        <span style="color: red">{{ message }} </span>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" value="{{user.email}}">
                {% if messages %}
                <p>
                    {% for message in messages %}
                    {%if 'email' in message.tags %}
                        <span style="color: red">{{ message }} </span>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password">
                {% if messages %}
                <p>
                    {% for message in messages %}
                    {%if 'password' in message.tags %}
                        <span style="color: red">{{ message }} </span>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
            <div>
                <label for="conf_password">Repeat your password:</label>
                <input type="password" id="conf_password" name="conf_password" class="form-control">
                {% if messages %}
                <p>
                    {% for message in messages %}
                    {%if 'conf_password' in message.tags %}
                        <span style="color: red">{{ message }} </span>
                    {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div><br>
            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div> 
        </form>
    </div>
    <div id="login">
      <h2>Login</h2>
        {% if messages %}
            <td>
                {% for message in messages %}
                  {%if 'login' in message.tags %}
                   <span style="color: red">{{ message }} </span>
                  {% endif %}
                {% endfor %}
            </td>
        {% endif %}
        <form action="/login" method="POST">
            {% csrf_token %}
            <input type="hidden" name="type" value="login">
            <div class="form-group">
                <label for="email1">Email address:</label>
                <input name="email1" type="email" class="form-control" id="email1" >
            </div>
            <div class="form-group">
              <label for="password1">Password</label>
              <input name="password1" type="password" class="form-control" id="password1">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
        
</body>
</html>